@page "/checklist"
@inject NavigationManager navigationManager
@using MeddelandeCentralen.Data

<PageTitle>Checklista</PageTitle>

<h1 class="pagetitle">Checklista (@checkList.Count(check => !check.IsDone))</h1>
<br>

<div class="header">
    <input class="input" placeholder="Skriv här" @bind="newCheckList" />
    <button class="addbtn" @onclick="AddCheckList">Lägg till</button>
</div>

<br>
<br>

<ul>
    @foreach (var check in checkList)
    {
        <li>
            <input @bind="check.Title" />
            <input class="checkbox" type="checkbox" @bind="check.IsDone" />
        </li>
    }
</ul>


@code {
    private List<Checklist> checkList = new();
    private string? newCheckList;

    private void AddCheckList()
    {
        if (!string.IsNullOrWhiteSpace(newCheckList))
        {
            checkList.Add(new Checklist { Title = newCheckList });
            newCheckList = string.Empty;
        }
    }
}