@page "/"
@inject NavigationManager navigationManager

<PageTitle>Index</PageTitle>

<h1 class="pagetitle">Chelsea International Hostel</h1>
<br>

<div class="list">
    <NavLink class="link-1" href="chatroom">
        <span class="font-size" aria-hidden="true">Rum 1</span>
    </NavLink>
    <NavLink class="link-2" href="chatroom2">
        <span class="font-size" aria-hidden="true">Rum 2</span>
    </NavLink>
    <NavLink class="link-3" href="chatroom3">
        <span class="font-size" aria-hidden="true">Rum 3</span>
    </NavLink>
</div>
