@page "/"
@inject NavigationManager navigationManager

<PageTitle>Index</PageTitle>

<h1 class="pagetitle">Chelsea International Hostel</h1>



<div class="list">
    <NavLink class="link" href="chatroom">
        <span aria-hidden="true">Room 1</span>
    </NavLink>
    <NavLink class="link" href="chatroom2">
        <span aria-hidden="true">Room 2</span>
    </NavLink>
    <NavLink class="link" href="chatroom3">
        <span aria-hidden="true">Room 3</span>
    </NavLink>
</div>